<% if flash[:alert] %>
    <div class="flash-message alert">
     <%= flash[:alert] %>
    </div>
<% elsif flash[:notice] %>
    <div class="flash-message notice">
      <%= flash[:notice] %>
    </div>
<% end %>